---
title: About this page for you
layout: base.njk
---

<div class="container">
    <h1>this is a page for you</h1>
    <p>it was made for you using html, css, and javascript, and served as a jamstack site.</p>
</div>
<script src="vibe.js"></script>